section{
padding-left: 4%;
padding-right: 3%;

}
footer{
	padding-left: 4%;
}
.side-well{
border-color: #963;

}
.featurette-divider{
	color: #963;
	opacity: 10%;
}
body{
	background-image: url("../img/ndere.jpg");
	  background-color: #EED2B5;
}